.pagina-servico {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  overflow: hidden;
}

.servico-index {
  flex: 1;
  min-width: 200px;
  max-width: 250px;
  padding: 2rem;
}

.servico-index ul {
  list-style: none;
  padding-top: 0;
  margin: 0;
}

.servico-index li {
  margin: 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd; /* linha separadora */
}



.servico-index a {
  text-decoration: none;
  color: var(--cor--principal);
  font-weight: 500;
}

.servico-index a:hover {
  color: var(--cor--hover);
}

.servico-conteudo {
  flex: 3;
  min-width: 300px;
  max-width: 60%;
  padding: 2rem;
}

.servico-conteudo h1 {
  font-size: 3.5rem;
  padding-bottom: 1rem;
  font-family: Raleway;
  text-align: center;
}

.servico-conteudo p {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-family: Raleway;
  line-height: 1.4; /* ← valor mais equilibrado */
  text-align: justify;
}
.frase-efeito {
  color: var(--cor--principal);
  font-family: Raleway;
  text-align: center;
}

@media (max-width: 768px) {
  .pagina-servico {
    flex-direction: column;
  }

  .servico-index {
    display: none; 
  }

  .servico-conteudo {
    max-width: 100%;
  }

  .servico-conteudo h1 {
    font-size: 2.2rem;
  }

  .servico-conteudo p {
    font-size: 1.1rem;
    line-height: 1.35;
    text-align: justify;
  }
}

