:root {
  --cor--principal: #bca474;
  --cor--texto: #333;
  --cor--texto--secundaria: #8A8A8A;
  --cor--fundo: #fff;
  --cor--fundo--secundario: #e9e8e8;
  --cor--footer: #cacaca;
  --cor--componentes: #f9f9f9;
  --cor--hover: #a78e5c;
  --vermelho--advogado: rgb(185, 28, 28);
}
