.equipe-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  background-color: var(--cor--fundo--secundario);
}

.equipe-container h1 {
  text-align: center;
  font-size: 3rem;
}

.equipe-descricao {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  text-align: left;
}

.equipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.equipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.3s ease;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.equipe-card:hover {
  opacity: 0.9;
}

.equipe-imagem {
  width: 100%;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.equipe-nome {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .equipe-descricao {
    font-size: 1.3rem;
    text-align: center;
  }

  .equipe-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
