.ajuda {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.ajuda h2 {
  color: var(--cor--texto--secundaria);
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.ajuda-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste para garantir que cada item seja um quadrado */
  gap: 1.5rem;
  justify-items: center;

}

.ajuda-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--cor--texto--secundaria);
  transition: transform 0.2s;
  cursor: pointer;
  font-family: Raleway;
  background-color: var(--cor--componentes);
  /* Adiciona bordas para criar o visual de quadrados */
  border: 2px solid var(--cor--principal); /* Adiciona borda */
  border-radius: 10px; /* Bordas arredondadas */
  /* padding: 2rem; Padding interno */
  height: 280px; /* Tamanho fixo para os itens ficarem quadrados */
  width: 280px; /* Tamanho fixo */
  box-sizing: border-box; /* Inclui a borda no cálculo do tamanho */
}

.ajuda-item:hover {
  transform: translateY(-5px);
  color: var(--cor--hover);
}

.icone {
  font-size: 2rem;
  color: var(--cor--principal);
}

.icone-entrar {
  font-size: 1.5rem; /* Ajuste o tamanho do ícone */
  color: var(--cor--principal);
  margin-left: 10px; /* Adiciona um pequeno espaço entre o texto e o ícone */
  font-size: 3rem;
  margin-top: 30px;
}

/* Responsividade */
@media (max-width: 768px) {
  .ajuda {
    padding-top: 0;
  }
  
  .ajuda h2 {
    font-size: 1.5rem;
  }

  .ajuda-grid {
    grid-template-columns: 1fr; /* Apenas 1 item por linha em dispositivos móveis */
    gap: 1rem;
  }

  .icone {
    font-size: 1.75rem;
  }
}
